# Секреты
.env

# База данных (в портфолио лучше грузить чистую, без твоих тестов)
*.sqlite3

# Окружение
venv/
env/
.venv/

# Кэш и временные файлы
__pycache__/
*.py[cod]
.DS_Store

# Статика (на сервере соберем командой collectstatic)
static_root/
media/
