{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md mx-auto">
        <div class="text-center">
            <h2 class="text-3xl font-bold text-gray-900 mb-2">Смена пароля</h2>
        </div>
<div class="mt-8 bg-white py-8 px-6 shadow rounded-lg">
<form method="post" class="space-y-6">
    {% csrf_token %}
    {{ form.as_p }}



    <button type="submit" class="w-full bg-black text-white py-3 px-4 rounded-md hover:bg-gray-800 transition duration-200">
        Изменить пароль
    </button>
</form>
</div>
    </div>
    </div>
{% endblock %}